@import url('./other-file.css');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corinthia&family=Oleo+Script&display=swap');

.body-classic {
  background-image: url('../public/assets/bg1.jpg');
  background-size: cover;
  font-style: italic;
}

.body-abstract {
  background-image: url('../public/assets/blackwhite4.jpg');
  background-size: cover;
}

.body-green {
  background-image: url('../public/assets/green2.jpg');
  background-size: cover;
}

.common {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  min-width: 300px;
  min-height: 50px;
  margin: 5px;
  padding: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.header-classic {
  background-image: url('../public/assets/books8.jpg');
  background-size: cover;
  color: rgb(226, 194, 173);
}

.header-abstract {
  background-image: url('../public/assets/blackwhite1.jpg');
  background-size: 100%;
  color: rgb(56, 56, 56);
}

.header-green {
  background-image: url('../public/assets/spring7.jpg');
  background-size: cover;
  color: rgb(10, 10, 10);
}

.option-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#style-type {
  margin-left: 5px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-classic {
  background-image: url('../public/assets/books.jpg');
  background-size: cover;
}

.main-abstract {
  background-image: url('../public/assets/blackwhite1.jpg');
  background-size: cover;
}

.main-green {
  background-image: url('../public/assets/green.jpg');
  background-size: cover;
}

.section-add-classic {
  background-image: url('../public/assets/books8.jpg');
  background-size: cover;
  color: rgb(247, 237, 230);
}

.section-add-abstract {
  background-image: url('../public/assets/blackwhite4.jpg');
  background-size: cover;
  color: rgb(247, 237, 230);
}

.section-add-green {
  background-image: url('../public/assets/green3.jpg');
  background-size: cover;
  color: rgb(247, 237, 230);
}

.section-remove-classic {
  background-image: url('../public/assets/books8.jpg');
  background-size: cover;
  color: rgb(247, 237, 230);
}

.section-remove-abstract {
  background-image: url('../public/assets/blackwhite4.jpg');
  background-size: cover;
  color: rgb(247, 237, 230);
}

.section-remove-green {
  background-image: url('../public/assets/green3.jpg');
  background-size: cover;
  color: rgb(247, 237, 230);
}

.section-list-screen {
  min-width: 400px;
}

.screen-classic {
  background-image: url('../public/assets/bg1.jpg');
  background-size: cover;
}

.screen-abstract {
  background-image: url('../public/assets/white-bg2.jpg');
  background-size: cover;
}

.screen-green {
  background-image: url('../public/assets/green-white.jpg');
  background-size: cover;
}

.btn-classic {
  background-color: rgb(172, 165, 87);
  color: rgb(17, 16, 16);
}

.btn-classic:hover {
  background-color: rgb(153, 142, 45);
  color: rgb(7, 6, 6);
}

.btn-abstract {
  background-color: rgb(211, 207, 207);
  color: rgb(26, 25, 25);
  border: 2px solid rgb(29, 28, 28);
}

.btn-abstract:hover {
  background-color: rgb(24, 24, 23);
  color: rgb(235, 232, 232);
  border: 2px solid rgb(247, 246, 246);
}

.btn-green {
  background-color: rgb(65, 236, 79);
  color: rgb(26, 25, 25);
  border: 2px solid rgb(29, 28, 28);
}

.btn-green:hover {
  background-color: rgb(24, 24, 23);
  color: rgb(235, 232, 232);
  border: 2px solid rgb(58, 248, 83);
}

#description {
  width: 280px;
  height: 60px;
  resize: none;
}

.footer {
  text-align: center;
}

.footer-classic {
  background-image: url('../public/assets/books8.jpg');
  background-size: cover;
  color: rgb(247, 237, 230);
}

.footer-abstract {
  background-image: url('../public/assets/blackwhite1.jpg');
  background-size: cover;
  color: rgb(56, 56, 56);
}

.footer-green {
  background-image: none;
  background-size: cover;
  color: rgb(56, 56, 56);
  border: solid rgb(6, 46, 3) 3px;
}

@media screen and (max-width: 900px) {
  .common {
    min-width: 60px;
  }

  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section-list-screen {
    min-width: 80px;
  }

  #description {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .common {
    min-width: 60px;
  }

  .add-remove-section {
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: smaller;
  }

  .option-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .section-list-screen {
    min-width: 80px;
  }

  #description {
    width: 220px;
  }
}

@media screen and (max-width: 300px) {
  .common {
    min-width: 60px;
  }

  .add-remove-section {
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-small;
  }

  .option-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .section-list-screen {
    min-width: 80px;
  }

  #description {
    width: 160px;
  }
}

#displayScreen {
  overflow-y: auto;
  max-height: 600px;
}

.row {
  display: flex;
}

.col-6 {
  width: 50%;
}